<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
<link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">

<!-- Title -->
<div class="title-area" id="title-area">

</div>

<!-- Content -->
<div class="event-view-page container-fluid" id="calendarContent">

    <!-- Switch Button -->
    <div class="switch-field">
        <input id="switch-button-radio-one" name="switch-one" type="radio"/>
        <label for="switch-button-radio-one" id="switch-button-radio-one-label"></label>
        <input checked id="switch-button-radio-two" name="switch-one" type="radio"/>
        <label for="switch-button-radio-two" id="switch-button-radio-two-label"></label>
    </div>

</div>

<!-- Plus Button -->
<button class="add-btn" onclick="toggleAddMenu()">
    <i class="fas fa-plus"></i>
</button>

<ul class="add-menu" id="addMenu">
    <li>
        <div data-target="#createEventModal" data-toggle="modal" onclick="removeAddMenu()">
            <i class="fas fa-plus-circle"></i>
            <span id="createEventPlusButton"></span>
        </div>
    </li>
</ul>

<!-- Templates -->
<!-- Title Template -->
<template id="calendarTitleTemplate">
    <h3 class="page-title" id="titleCalendarPlugin"></h3>
</template>


<!-- Event View Template -->
<template id="eventViewDayTemplate">
    <div class="event-day-container">
        <div class="">
            <div class="event-day">
                <span class="event-day-day"></span>

                <span class="event-day-name"></span>
            </div>
        </div>
        <div class="events-container"></div>
    </div>
</template>

<!-- Event Template-->
<template id="event-template">
    <a class="event-anchor">
        <div class="slot">
            <div class="event-status"></div>
            <span class="event-name"></span>
            <span class="event-date"></span>
            <span class="event-location"></span>
            <p class="event-description"></p>
        </div>
    </a>
</template>

<!-- Modal Template-->
<template id="modalTemplate">
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal-div-template">
                <div id="modal-div">
                    <button aria-label="Close" class="close" data-dismiss="modal" id="close-button" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modal-title"></h5>
                    <button class="btn btn-primary" id="modal-button" type="button"></button>
                </div>
                <div class="modal-body" id="modalBody">
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Template for a form to create a event-->
<template id="createEventFormTemplate">
    <form class="form" id="createEventForm">
        <label for="eventTitle"></label>
        <input class="form-control input-md" id="eventTitle" type="text">

        <div class="input-group mb-3">
            <input class="form-control input-md" id="allDayCheckbox" type="checkbox">
            <label for="allDayCheckbox" id="allDayCheckboxLabel"> </label>
        </div>

        <label for="eventStartDate"></label>
        <input class="form-control input-md" id="eventStartDate" onchange="" type="datetime-local">

        <label for="selectedEventDuration"></label>
        <select class="form-control input-md" id="selectedEventDuration"></select>

        <label for="eventEndDate"></label>
        <input class="form-control input-md" id="eventEndDate" type="datetime-local">
        <label class="errorLabel" hidden=true id="errorTextEventEndDate"></label>

        <label for="eventLocation"></label>
        <input class="form-control input-md" id="eventLocation" type="text">

        <label for="eventDescription">:</label>
        <textarea class="form-control input-md" id="eventDescription" rows="3"></textarea>
    </form>
</template>
