<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
<link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">

<!-- Content -->
<div class="eventDetailPage d-flex justify-content-center" id="eventDetailPageContent">

</div>

<!-- Template -->
<template id="eventDetailPageTemplate">
    <form class="detailPageForm" name="eventDetailForm">
        <span id="eventDetailIdSpan"></span>
        <div class="event-detail-title">
            <h3 id="eventDetailTitle"></h3>
            <button class="btn btn-primary" id="eventDetailSaveButton"></button>
        </div>

        <label for="eventDetailTitleEdit"></label>
        <input class="form-control input-md" data-calendarId="" data-eventid="" id="eventDetailTitleEdit">

        <label for="eventDetailLocation"></label>
        <textarea class="form-control input-md" id="eventDetailLocation" rows="1"></textarea>

        <label for="eventDetailDescription"></label>
        <textarea class="form-control input-md" id="eventDetailDescription" rows="3"></textarea>

        <label for="eventDetailStartDate"></label>
        <input class="form-control input-md" id="eventDetailStartDate" onchange="" type="datetime-local">

        <label for="eventDetailSelectedDuration"></label>
        <select class="form-control input-md" id="eventDetailSelectedDuration"></select>

        <label for="eventDetailEndDate"></label>
        <input class="form-control input-md" id="eventDetailEndDate" onchange="" type="datetime-local">
        <label class="errorLabel" hidden=true id="eventDetailErrorTextEndDate"></label>

        <button class="btn btn-secondary" id="eventDetailDeleteButton"></button>
    </form>
</template>